# Ignore Python Cache
__pycache__/
*.py[cod]

# Ignore Jupyter Checkpoints
.ipynb_checkpoints/

# Ignore Raw Data Folders 
data/audio/
data/lyrics/
data/*.zip
data/*.mp3
data/*.wav

# Ignore Large Metadata CSVs
metadata.csv
*_metadata.csv

# Ignore VS Code Settings
.vscode/
.gitignore
# Ignore Virtual Environments
venv/
env/